<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>A propos de CheckSec</h3>
            <p>CheckSec est un outil puissant de scan de sécurité qui identifie les vulnérabilités dans votre codebase.</p>
        </div>
        <div class="footer-section">
            <h3>Liens Rapides</h3>
            <ul>
                <li><a  outerLink="/dashboard">Accueil</a></li>
                <li><a routerLink="/about" routerLinkActive="active-link">A propos</a></li>
                <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Informations de Contact</h3>
            <p><i class="fas fa-map-marker-alt"></i> IMSET Monastir, Av. du combattant suprême, Monastir 5000</p>
            <p><i class="fas fa-phone"></i> 31 313 737</p>
            <p><i class="fas fa-envelope"></i> contact&#64;checksec.tn</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 CheckSec. Tous droits réservés.</p>
    </div>
</footer>
