<div class="parent">
    <div class="sign-up-form">
      <h2>Sign Up</h2>
      <form (ngSubmit)="submitSignUp()">
        <div class="error-message" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
        <div class="input-box">
          <input type="text" id="first-name" [(ngModel)]="firstName" name="firstName" required />
          <label for="first-name">Prénom:</label>
        </div>
  
        <div class="input-box">
          <input type="text" id="last-name" [(ngModel)]="lastName" name="lastName" required />
          <label for="last-name">Nom:</label>
        </div>
  
        <div class="input-box">
          <input type="email" id="email" [(ngModel)]="email" name="email" required />
          <label for="email">Email:</label>
        </div>
  
        <div class="input-box">
          <input type="password" id="password" [(ngModel)]="password" name="password" required />
          <label for="password">Mot de passe:</label>
        </div>
  
        <div class="input-box">
          <input type="password" id="confirm-password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
          <label for="confirm-password">Confirmation du mot de passe:</label>
        </div>
  
        <button type="submit" [disabled]="isLoading">
          <span *ngIf="!isLoading">Valider</span>
          <span *ngIf="isLoading">Inscription en cours...</span>
        </button>
      </form>
  
      <div class="signup-link">
        <a (click)="goToLogin()">Vous avez déjà un compte? Connectez-vous</a>
      </div>
    </div>
  </div>