/* src/app/app.component.css */
/* src/app/app.component.css */
.logo-container {
    position: absolute; /* Position absolue pour placer le logo où vous voulez */
    top: 10px; /* Distance depuis le haut */
    left: 10px; /* Distance depuis la gauche */
    background: transparent; /* Pas d'arrière-plan */
    z-index: 1000; /* Assure que le logo est au-dessus des autres éléments */
}

.logo-container img {
    width: 300px; /* Ajustez la taille du logo */
    height: auto; /* Maintient les proportions */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2)); /* Ombre légère (optionnel) */
}